$white: white;

// ! you can combine modules and scss !! out of the box
.sass-wrapper {
    margin-top: 20px;

    h2 {
        margin: 0;
        font-size: 12px;
    }

    .white {
        font-size: 12px;
        color: $white;
    }
}
